{"openapi":"3.0.0","info":{"description":"This is the interface for interacting with the [Asana Platform](https://developers.asana.com). Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml).","x-public-description":"This is the interface for interacting with the [Asana Platform](https://developers.asana.com). Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml).","title":"Asana","termsOfService":"https://asana.com/terms","contact":{"name":"Asana Support","url":"https://asana.com/support"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0","x-docs-schema-whitelist":["AsanaResource","AsanaNamedResource","AuditLogEvent","AttachmentResponse","AttachmentCompact","BatchResponse","CustomFieldSettingResponse","CustomFieldSettingCompact","CustomTypeResponse","CustomTypeBase","CustomTypeCompact","CustomTypeStatusOptionResponse","CustomTypeStatusOptionBase","CustomTypeStatusOptionCompact","CustomFieldResponse","CustomFieldCompact","CustomFieldMembershipCompact","CustomFieldMembershipResponse","EnumOption","EventResponse","ErrorResponse","GoalResponse","GoalCompact","GoalMembershipCompact","GoalMembershipBase","GoalMembershipResponse","GoalRelationshipResponse","GoalRelationshipCompact","GraphExportResponse","GraphExportCompact","JobResponse","JobCompact","OrganizationExportResponse","OrganizationExportCompact","PortfolioMembershipResponse","PortfolioMembershipCompact","PortfolioResponse","PortfolioCompact","ProjectBriefResponse","ProjectBriefCompact","ProjectMembershipCompactResponse","ProjectMembershipNormalResponse","ProjectMembershipCompact","ProjectResponse","ProjectCompact","ProjectStatusResponse","ProjectStatusCompact","ProjectTemplateCompact","ProjectTemplateResponse","RuleTriggerResponse","ResourceExportResponse","ResourceExportCompact","ResourceExportCompact","RbacRoleResponse","RbacRoleCompact","SectionResponse","SectionCompact","StatusUpdateResponse","StatusUpdateCompact","StoryResponse","StoryCompact","TagResponse","TagCompact","TaskResponse","TaskCompact","TaskCountResponse","TeamMembershipResponse","TeamMembershipCompact","TeamResponse","TeamCompact","TimePeriodResponse","TimePeriodCompact","TimeTrackingCategoryResponse","TimeTrackingCategoryCompact","UserTaskListResponse","UserTaskListCompact","UserResponse","UserCompact","WebhookFilter","WebhookResponse","WebhookCompact","WorkspaceMembershipResponse","WorkspaceMembershipCompact","WorkspaceResponse","WorkspaceCompact"]},"servers":[{"url":"https://app.asana.com/api/1.0","description":"Main endpoint."}],"security":[{"personalAccessToken":[]}],"x-readme":{"proxy-enabled":false},"tags":[{"name":"Access requests","description":"An access request object represents a user\u0027s request to an item, such as a project or portfolio, that they do not have access to. The request is sent to the owner of the item for approval."},{"name":"Allocations","description":"An allocation object represents how much of a resource (e.g. person, team) is dedicated to a specific work object (e.g. project, portfolio) over a specific period of time. The effort value of an allocation object can be a percentage or number of hours."},{"name":"Attachments","description":"An *attachment* object represents any file attached to a task in Asana, whether it\u0027s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive."},{"name":"Audit log API","description":"Asana\u0027s audit log is an immutable log of [important events](/docs/audit-log-events#supported-audit-log-events) in your organization\u0027s Asana instance.\n\nThe audit log API allows you to monitor and act upon important security and compliance-related changes. Organizations might use this API endpoint to:\n\n* Set up proactive alerting with a Security Information and Event Management (SIEM) tool like [Splunk](https://asana.com/guide/help/api/splunk)\n* Conduct reactive investigations when a security incident takes place\n* Visualize key domain data in aggregate to identify security trends\n\nNote that since the API provides insight into what is happening in an Asana instance, the data is [read-only](/reference/getauditlogevents). That is, there are no \u0022write\u0022 or \u0022update\u0022 endpoints for audit log events.\n\nOnly [Service Accounts](https://asana.com/guide/help/premium/service-accounts) in [Enterprise Domains](https://asana.com/enterprise) can access audit log API endpoints. Authentication with a Service Account\u0027s [personal access token](/docs/personal-access-token) is required.\n\nFor a full list of supported events, see [supported AuditLogEvents](/docs/audit-log-events#supported-audit-log-events)."},{"name":"Batch API","description":"There are many cases where you want to accomplish a variety of work in the Asana API but want to minimize the number of HTTP requests you make. For example:\n\n* Modern browsers limit the number of requests that a single web page can\n  make at once.\n* Mobile apps will use more battery life to keep the cellular radio on\n  when making a series of requests.\n* There is an overhead cost to developing software that can make multiple\n  requests in parallel.\n* Some cloud platforms handle parallelism poorly, or disallow it\n  entirely.\n\n\nTo make development easier in these use cases, Asana provides a **batch API** that enables developers to perform multiple \u201Cactions\u201D by making only a single HTTP request.\n\n#### Making a batch request\n\nTo make a batch request, send a \u0060POST\u0060 request to \u0060/batch\u0060. Like other \u0060POST\u0060 endpoints, the body should contain a \u0060data\u0060 envelope. Inside this envelope should be a single \u0060actions\u0060 field, containing a list of \u201Caction\u201D objects.  Each action represents a standard request to an existing endpoint in the Asana API.\n\n**The maximum number of actions allowed in a single batch request is 10**. Making a batch request with no actions in it will result in a \u0060400 Bad Request\u0060.\n\nWhen the batch API receives the list of actions to execute, it will dispatch those actions to the already-implemented endpoints specified by the \u0060relative_path\u0060 and \u0060method\u0060 for each action. This happens in parallel, so all actions in the request will be processed simultaneously. There is no guarantee of the execution order for these actions, nor is there a way to use the output of one action as the input of another action (such as creating a task and then commenting on it).\n\nThe response to the batch request will contain (within the \u0060data\u0060 envelope) a list of result objects, one for each action. The results are guaranteed to be in the same order as the actions in the request (e.g., the first result in the response corresponds to the first action in the request)\n\nThe batch API will always attempt to return a \u0060200 Success\u0060 response with individual result objects for each individual action in the request. Only in certain cases (such as missing authorization or malformed JSON in the body) will the entire request fail with another status code. Even if every individual action in the request fails, the batch API will still return a \u0060200 Success\u0060 response, and each result object in the response will contain the errors encountered with each action.\n\n#### Rate limiting\n\nThe batch API fully respects all of our rate limiting. This means that a batch request counts against *both* the standard rate limiter and the concurrent request limiter as though you had made a separate HTTP request for every individual action. For example, a batch request with five actions counts as five separate requests in the standard rate limiter, and counts as five concurrent requests in the concurrent request limiter. The batch request itself incurs no cost.\n\nIf any of the actions in a batch request would exceed any of the enforced limits, the *entire* request will fail with a \u0060429 Too Many Requests\u0060 error. This is to prevent the unpredictability of which actions might succeed if not all of them could succeed.\n\n#### Restrictions\n\nNot every endpoint can be accessed through the batch API. Specifically, the following actions cannot be taken and will result in a \u0060400 Bad Request\u0060 for that action:\n\n* Uploading attachments\n* Creating, getting, or deleting organization exports\n* Any SCIM operations\n* Nested calls to the batch API"},{"name":"Budgets","description":"A *budget* object represents a budget for a specific *parent* resource (such as a project).\n\nEach budget tracks values either in *time* or *cost*, as determined by the *budget_type* field.\n\nWhen *budget_type* is \u0060time\u0060, all values are expressed in minutes. When *budget_type* is \u0060cost\u0060, all values are expressed in the domain\u2019s currency.\n\nA budget can include up to three value objects: *estimate*, *actual*, and *total*. Each contains a \u0060value\u0060, \u0060units\u0060, and may include a \u0060billable_status_filter\u0060 field.\n\n**estimate** Represents the aggregated estimated effort on tasks attributed to the *parent*. For time budgets: total estimated minutes. For cost budgets: total estimated cost, computed as (estimated time \u00D7 resource rate).\n\n**actual** Represents the aggregated actual time logged on tasks attributed to the *parent*. For time budgets: total actual minutes from time tracking entries. For cost budgets: total actual cost, computed as (actual time \u00D7 resource rate). The optional \u0060billable_status_filter\u0060 limits aggregation to \u0060billable\u0060, \u0060non_billable\u0060, or \u0060any\u0060 entries.\n\n**total** A user-defined target value for the budget. Stored independently per budget type, so switching between *time* and *cost* preserves each type\u0027s value. For time budgets: stored and read as minutes. For cost budgets: stored and read in the domain\u0027s currency."},{"name":"Custom field settings","description":"Custom fields are attached to a particular project with the custom field settings resource. This resource both represents the many-to-many join of the custom field and project as well as stores information that is relevant to that particular pairing. For instance, the \u0060is_important\u0060 property determines some possible application-specific handling of that custom field."},{"name":"Custom fields","description":"_Note: Custom fields are a premium feature. Integrations which work with custom fields need to handle an assortment of use cases for free and premium users in context of free and premium organizations. For a detailed examination of which data users will have access in different circumstances, review the section below on access control._\n\nIn the Asana application, tasks, projects, and portfolios can hold user-specified [custom fields](https://asana.com/guide/help/premium/custom-fields) which provide extra information (e.g., a \u0022priority\u0022 property with an associated value, or a number representing the time required to complete a task). This lets a user define the type of information that each item within a project or portfolio can contain in addition to the built-in fields that Asana provides.\n\u0060display_value\u0060 is a read-only field that will always be a string. For apps that use custom fields, this is a great way to safely display/export the value of a custom field, regardless of its type. We suggest apps use this field in order to future-proof for changes to custom fields.\n\n#### Characteristics of custom fields\n\n* There is metadata that defines the custom field. This metadata can be shared across an entire workspace, or be specific to a project or portfolio.\n* Creating a custom field setting on a project or portfolio means each direct child will have the custom field. This is conceptually akin to adding columns in a database or a spreadsheet: every task (row) in the project (table) can contain information for that field, including \u0022blank\u0022 values (i.e., \u0060null\u0060 data). For portfolio custom fields, every project (row) in the portfolio (table) will contain information for the custom field.\n* Custom field settings only go one child deep. This means that a custom field setting on a portfolio will give each project the custom field, but not each task within those projects.\n* Tasks have custom field _values_ assigned to them.\n\n#### Types of custom fields\n\nIntegrations using custom fields need to be aware of the six basic types that a custom field can adopt. These types are:\n\n* \u0060text\u0060 - an arbitrary, relatively short string of text\n* \u0060number\u0060 - a number with a defined level of precision\n* \u0060enum\u0060 - a selection of a single option from a defined list of options (i.e., mutually exclusive selections)\n* \u0060multi_enum\u0060 - a selection of one or more options from a defined list of options (i.e., mutually inclusive selections)\n* \u0060date\u0060 - a reference date with an optional time value\n* \u0060people\u0060 - a list of active contributors (i.e., where their relationship to the work is defined in the custom field title)\n\n#### Example use case\n\nConsider an organization that has defined a custom field for \u0022Priority\u0022. This field is of \u0060enum\u0060 type and can have user-defined values of \u0060Low\u0060, \u0060Medium\u0060, or \u0060High\u0060. This is the field metadata, and it is visible within, and shared across, the entire organization.\n\nA project is then created in the organization, called \u0022Bugs\u0022, and the \u0022Priority\u0022 custom field is associated with that project. This will allow all tasks within the \u0022Bugs\u0022 project to have an associated \u0022Priority\u0022.\n\nA new task is created within \u0022Bugs\u0022. This task, then, has a field named \u0022Priority\u0022 which can take on the custom field value of one of \u0060[null]\u0060, \u0060Low\u0060, \u0060Medium\u0060, and \u0060High\u0060.\n\n#### Custom fields in the API\n\nThese custom fields are accessible via the API through a number of endpoints at the top level (e.g. \u0060/custom_fields\u0060 and \u0060/custom_field_settings\u0060) and through requests on workspaces, portfolios, projects, and tasks resources. The API also provides a way to fetch both the metadata and data which define each particular custom field, so that a client application may render proper UI to display or edit the values.\n\nText fields are currently limited to 1024 characters. On tasks, their custom field value will have a \u0060text_value\u0060 property to represent this field.\n\nNumber fields can have an arbitrary \u0060precision\u0060 associated with them; for example, a precision of \u00602\u0060 would round its value to the second (hundredths) place (e.g., \u00601.2345\u0060 would round to \u00601.23\u0060). On tasks, the custom field value will have a \u0060number_value\u0060 property to represent this field.\n\n#### Enum fields\n\nEnum fields represent a selection from a list of options. On the metadata, they will contain all of the options in an array. Each option has 4 properties:\n\n* \u0060gid\u0060 - the GID of this enum option. Note that this is the GID of the individual _option_. The custom field itself has a separate \u0060gid\u0060.\n* \u0060name\u0060 - the name of the option (e.g., \u0022Choice #1\u0022)\n* \u0060enabled\u0060 - whether this field is enabled. Disabled fields are not available to choose from when disabled, and are visually hidden in the Asana application, but they remain in the metadata for custom field values which were set to the option before the option was disabled.\n* \u0060color\u0060 - a color associated with this choice.\n\nOn the task\u0027s custom field value, the enum will have an \u0060enum_value\u0060 property which will be the same as one of the choices from the list defined in the custom field metadata.\n\n#### Querying an organization for its custom fields\n\nFor custom fields shared across the workspace or organization, the workspace [can be queried](/reference/getcustomfieldsforworkspace) for its list of defined custom fields. Like other collection queries, the fields will be returned as a compact record; slightly different from most other compact records is the fact that the compact record for custom fields includes \u0060type\u0060 as well as \u0060gid\u0060 and \u0060name\u0060.\n\n#### Accessing custom field definitions\n\nThe [custom fields](/reference/getcustomfield) reference describes how the metadata which defines a custom field is accessed. A GET request with a \u0060gid\u0060 can be issued on the \u0060/custom_fields\u0060 endpoint to fetch the full definition of a single custom field given its \u0060gid\u0060 from (for instance) listing all custom fields on a workspace, or getting the \u0060gid\u0060 from a custom field settings object or a task.\n\n#### Associating custom fields with a project or portfolio\n\nA mapping between a custom field and a project or portfolio is handled with a [custom field settings](/reference/custom-field-settings) object. This object contains a reference for each of the custom fields and the project or portfolio, as well as additional information about the status of that particular custom field (e.g., \u0060is_important\u0060, which defines whether or not the custom field will appear in the list/grid on the Asana application).\n\n#### Accessing custom field values on tasks or projects\n\nThe [tasks](/reference/gettask) reference has information on how custom fields look on tasks. custom fields will return as an array on the property \u0060custom_fields\u0060, and each entry will contain, side-by-side, the compact representation of the custom field metadata and a \u0060{typename}_value\u0060 property that stores the value set for the custom field.\n\nOf particular note is that the top-level \u0060gid\u0060 of each entry in the \u0060custom_fields\u0060 array is the \u0060gid\u0060 of the custom field metadata, as it is the compact representation of this metadata. This can be used to refer to the full metadata by making a request to the \u0060/custom_fields/{custom_fields_id}\u0060 endpoint as described above.\n\nCustom fields can be set just as in the Asana-defined fields on a task via \u0060POST\u0060 or \u0060PUT\u0060 requests. You can see an example in the [update a task](/reference/updatetask) endpoint.\n\nCustom fields on projects follow this same pattern.\n\n#### Warning: Program defensively with regards to custom field definitions\n\nAsana application users have the ability to change the definitions of custom field metadata. This means that as you write scripts or applications to work with them, it is possible for the definitions to change at any time, which may cause an application using them to break or malfunction if it makes assumptions about the metadata for a particular custom field. When using custom fields, it is a good idea to program *defensively*, meaning you your application should double-check that the custom field metadata are what it expects.\n\nStoring the state of the custom field metadata for too long if you dynamically create a model for it can cause your model to become out of sync with the model stored in Asana. For example, if you encounter an \u0060enum\u0060 value on a task that does not match any option in your metadata model, your metadata model has become out of date with the custom field metadata.\n\n#### Enabled and disabled values\n\nWhen information that is contained in a custom field value loses a logical association with its metadata definition, the value becomes disabled. This can happen in a couple of simple ways, for example, if you remove the custom field metadata from a project, or move a task with a custom field to a different project which does not have the custom field metadata associated with it. The value remains on the task, and the custom field metadata can still be found and examined, but as the context in which the custom field makes sense is gone, the custom field cannot change its value; it can only be cleared.\n\n_Note: Tasks that are associated with multiple projects do not become disabled, so long as at least one of the projects is still associated with the custom field metadata. In other words, tasks with multiple projects will retain logically associated to the set of custom field metadata represented by all of their projects._\n\nMoving the task back under a project with that custom field applied to it or applying the custom field metadata to the current project will return the custom field value to an enabled state. In this scenario, the custom field will be re-enabled and editable again.\n\nIn the Asana application, disabled fields are grayed out and not allowed to change, other than to be discarded. In the API, we return a property \u0060enabled: false\u0060 to inform the external application that the value has been disabled.\n\nNote that the API enforces the same operations on disabled custom field values as hold in the Asana application: they may not have their values changed, since the lack of context for the values of a custom field in general doesn\u0027t provide enough information to know what new values should be. Setting the custom field value to \u0060null\u0060 will clear and remove the custom field value from the task.\n\n#### Custom field access control\n\nCustom fields are a complex feature of the Asana platform, and their access in the Asana application and in the API vary based on the status of the user and project. When building your application, it is best to be defensive and not assume the given user will have read or write access to a custom field, and fail gracefully when this occurs."},{"name":"Custom types","description":"A custom type allows distinct categorizations of objects based on their specific purpose or functionality. Structuring objects through a defined custom type provides greater flexibility in work management allowing users to better match the object to their use case"},{"name":"Events","description":"An event is an object representing a change to a resource that was observed by an event subscription. Event streams rely on the same infrastructure as webhooks, which ensures events are delivered within a minute (on average). This system is designed for at most once delivery, meaning in exceptional circumstances a small number of events may be missing from the stream. For this reason, if your use case requires strong guarantees about processing all changes on a resource and cannot tolerate any missing events, regardless of how rare that might be, we recommend building a fallback polling system that fetches the resource periodically as well. Note that while webhooks cannot be replayed once delivered, events are retrievable from the event stream for 24 hours after being processed.\n\nIn general, requesting events on a resource is faster and subject to higher rate limits than requesting the resource itself. Additionally, change events \u0022bubble up\u0022 (e.g., listening to events on a project would include when stories are added to tasks in the project, and even to subtasks).\n\nEstablish an initial sync token by making a request with no sync token. The response will be a \u0060412 Precondition Failed\u0060 error - the same as if the sync token had expired.\n\nSubsequent requests should always provide the sync token from the immediately preceding call.\n\nSync tokens may not be valid if you attempt to go \u0022backward\u0022 in the history by requesting previous tokens, though re-requesting the current sync token is generally safe, and will always return the same results.\n\nWhen you receive a \u0060412 Precondition Failed\u0060 error, it means that the sync token is either invalid or expired. If you are attempting to keep a set of data in sync, this signals you may need to re-crawl the data.\n\nSync tokens always expire after 24 hours, but may expire sooner, depending on load on the service."},{"name":"Exports","description":"Exports are a way to download data from Asana. The following types of exports are available:\n* **Graph exports**: Export of data about objects starting from a parent object, such as a team, portfolio, or project.\n* **Resource exports**: Bulk exports of resources such as tasks, teams, and messages for a workspace.\n* **Organization exports**: Exports the complete data of an organization in JSON format. Please refer to [Organization exports](/reference/organization-exports) for more details.\n\n## Graph exports\nA \u0060graph_export\u0060 object represents a request to export the\ndata about objects starting from a parent object. Parent object can be a team, portfolio, or project.\n\nTo create an export using this API:\n1. Create a \u0060graph_export\u0060 [request](/reference/createGraphExport) and store the ID that is returned.\n2. Request the [jobs](/reference/getjob) endpoint every few minutes, until \u0060status\u0060 field contains \u0027succeeded\u0027.\n3. Download the file located at the URL in the \u0060download_url\u0060 field.\n\nExports can take a long time, from several minutes to a few hours for large portfolios.\n\n*Note: Graph exports are only available to accounts of an\n[Enterprise](https://asana.com/enterprise)/Enterprise\u002B organization.*\n\n## Resource exports\nA \u0060resource_export\u0060 object represents a request to bulk export resources for a workspace.\nTo create an export using this API:\n1. Create a \u0060resource_export\u0060 [request](/reference/createResourceExport) and store the job ID that is returned.\n2. Request the [jobs](/reference/getjob) endpoint at some interval, until \u0060status\u0060 field contains \u0027succeeded\u0027 and a \u0060download_url\u0060 is available.\n3. Download the file located at the URL in the \u0060download_url\u0060 field.\n\nExports can take a long time, from several minutes to a few hours for large workspaces.\n\n*Note: Resource exports are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts)\nfrom an Enterprise\u002B organization or an organization with the Compliance Management Add-on."},{"name":"Goal relationships","description":"A goal relationship is an object representing the relationship between a goal and another goal, a project, a task, or a portfolio."},{"name":"Goals","description":"A goal is an object in the goal-tracking system that helps your organization drive measurable results."},{"name":"Jobs","description":"Jobs represent processes that handle asynchronous work. A job created when an endpoint requests an action that will be handled asynchronously, such as project or task duplication.\n\nOnly the creator of the duplication process can access the duplication status of the new object.\n\n*Note*: With any work that is handled asynchronously (e.g., [project instantation from a template](/reference/instantiateproject), duplicating a [task](/reference/duplicatetask) or [project](/reference/duplicateproject), etc.), the *intermittent states* of newly-created objects may not be consistent. That is, object properties may return different values each time when polled until the job \u0060status\u0060 has returned a \u0060succeeded\u0060 value."},{"name":"Memberships","description":"A membership object represents the relationship between a team or user and an object in Asana. Currently, the\nsupported types of memberships are for goals, projects, custom fields, custom types,and portfolios. For example, a project membership\ncan be used to add a user to a project."},{"name":"Ooo entries","description":"An OOO entry represents a period of time during which a user is out of office."},{"name":"Organization exports","description":"An \u0060organization_export\u0060 object represents a request to export the complete data of an organization in JSON format.\n\nTo export an organization using this API:\n\n* Create an \u0060organization_export\u0060\n  [request](/reference/createorganizationexport)\n  and store the ID that is returned.\n* Request the \u0060organization_export\u0060 every few minutes, until the\n  \u0060state\u0060 field contains \u2018finished\u2019.\n* Download the file located at the URL in the \u0060download_url\u0060 field. * Exports can take a long time, from several minutes to a few hours\n  for large organizations.\n\n\n*Note: These endpoints are only available to [Service Accounts](https://asana.com/guide/help/premium/service-accounts) of an [Enterprise](https://asana.com/enterprise) organization.*"},{"name":"Portfolio memberships","description":"This object determines if a user is a member of a portfolio."},{"name":"Portfolios","description":"A portfolio gives a high-level overview of the status of multiple initiatives in Asana. Portfolios provide a dashboard overview of the state of multiple projects, including a progress report and the most recent [status update](/reference/status-updates).\nPortfolios have some restrictions on size. Each portfolio has a max of 1500 items and, like projects, a maximum of 20 custom fields."},{"name":"Project briefs","description":"A project brief object represents a rich text document that describes a project.\n\nPlease note that this API is in *preview*, and is expected to change. This API is to be used for development and testing only as an advance view into the upcoming rich text format experience in the task description. For more information, see [this post](https://forum.asana.com/t/project-brief-api-now-available-as-a-preview/150885) in the developer forum."},{"name":"Project memberships","description":"With the introduction of \u201Ccomment-only\u201D projects in Asana, a user\u2019s membership in a project comes with associated permissions. These permissions (i.e., whether a user has full access to the project or comment-only access) are accessible through the project memberships endpoints described here."},{"name":"Project portfolio settings","description":"A project portfolio setting represents the relationship between a project and a portfolio. It controls configuration such as whether portfolio members inherit access to the project."},{"name":"Project statuses","description":"*Deprecated: new integrations should prefer using [status updates](/reference/status-updates)*\n\nA project status is an update on the progress of a particular project,\nand is sent out to all project followers when created. These updates\ninclude both text describing the update and a color code intended to\nrepresent the overall state of the project: \u0022green\u0022 for projects that\nare on track, \u0022yellow\u0022 for projects at risk, \u0022red\u0022 for projects that\nare behind, and \u0022blue\u0022 for projects on hold.\n\nProject statuses can be created and deleted, but not modified."},{"name":"Project templates","description":"A project template is an object that allows new projects to be created\nwith a predefined setup, which may include tasks, sections, rules, etc.\nIt simplifies the process of running a workflow that involves a similar\nset of work every time.\n\n\nProject templates in organizations are shared with a single team. Currently, the\nteam of a project template cannot be changed via the API."},{"name":"Projects","description":"A project represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. A project exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.\n\nProjects in organizations are shared with a single team. Currently, the team of a project cannot be changed via the API. Non-organization workspaces do not have teams and so you should not specify the team of project in a regular workspace.\n\nFollowers of a project are a subset of the members of that project. Followers of a project will receive all updates including tasks created, added and removed from that project. Members of the project have access to and will receive status updates of the project. Adding followers to a project will add them as members if they are not already, removing followers from a project will not affect membership.\n\n**Note:** You can use certain project endpoints to operate on [user task lists](/reference/user-task-lists) ([My Tasks](https://asana.com/guide/help/fundamentals/my-tasks)) by substituting the \u0060{project_gid}\u0060 with the \u0060{user_task_list_gid}\u0060. For example, you can perform operations on the custom fields of a user task list by using the following projects endpoints: [Add a custom field to a project](/reference/addcustomfieldsettingforproject), [Remove a custom field from a project](/reference/removecustomfieldsettingforproject) and [Get a project\u0027s custom fields](/reference/getcustomfieldsettingsforproject)"},{"name":"Rates","description":"A rate object represents the rate of a resource for a parent object."},{"name":"Reactions","description":"A reaction is an object that represents a user\u0027s emoji reaction on a status update, comment, task completion, or attachment."},{"name":"Roles","description":"Roles allow workspaces to create and manage workspace-level custom user roles, providing centralized control over what users can do in Asana via Role-Based Access Control (RBAC).\nSuper admins can define roles with specific permission sets and assign users to these roles, helping workspaces meet security and compliance requirements and standardizing how users work in Asana."},{"name":"Rules","description":"[Asana rules](https://help.asana.com/s/article/rules?language=en_US) allow you to automate common patterns\nand workflows in Asana. Rules comprise triggers that will automatically perform actions. For example, you\ncan create a rule to automatically assign a task (action) when a due date is set (trigger).\n\nTo support cross-application workflows, the API supports\n[incoming web requests](https://developers.asana.com/docs/incoming-web-requests) as a generic trigger to\nconnect external applications to Asana through rules. This API allows users to set up workflows outside\nof Asana that can perform operations on data within Asana."},{"name":"Sections","description":"A section is a subdivision of a project that groups tasks together. It can either be a header above a list of tasks in a list view or a column in a board view of a project.\n\nSections are largely a shared idiom in Asana\u2019s API for both list and board views of a project regardless of the project\u2019s layout.\n\nThe \u2018memberships\u2019 property when [getting a task](/reference/gettask) will return the information for the section or the column under \u2018section\u2019 in the response."},{"name":"SSPM","description":"SSPM (SaaS Security Posture Management) is a set of APIs which allows centralized inspection and management of a customer\u0027s deployed SaaS apps via an SSPM provider."},{"name":"Status updates","description":"A status update is an update on the progress of a particular object, and is sent out to all followers when created. These updates include both text describing the update and a \u0060status_type\u0060 intended to represent the overall state of the object.\nThe valid values for \u0060status_type\u0060 depend on the parent of the status update: - Projects: \u0060on_track\u0060, \u0060at_risk\u0060, \u0060off_track\u0060, \u0060on_hold\u0060, \u0060complete\u0060, \u0060dropped\u0060. - Portfolios: \u0060on_track\u0060, \u0060at_risk\u0060, \u0060off_track\u0060, \u0060on_hold\u0060, \u0060complete\u0060, \u0060dropped\u0060. - Goals: \u0060on_track\u0060, \u0060at_risk\u0060, \u0060off_track\u0060, \u0060achieved\u0060, \u0060partial\u0060, \u0060missed\u0060, \u0060dropped\u0060.\nStatus updates can be created and deleted, but not modified."},{"name":"Stories","description":"*See [our forum post](https://forum.asana.com/t/no-more-parsing-story-text-new-fields-on-stories/42924) for more info on when conditional fields are returned.*\n\nA story represents an activity associated with an object in the Asana system. Stories are generated by the system whenever users take actions such as creating or assigning tasks, or moving tasks between projects. \u0022Comments\u0022 are also a form of user-generated story."},{"name":"Tags","description":"A tag is a label that can be attached to any task in Asana. It exists in a single workspace or organization.\n\nTags have some metadata associated with them, but it is possible that we will simplify them in the future so it is not encouraged to rely too heavily on it. Unlike projects, tags do not provide any ordering on the tasks they are associated with."},{"name":"Task templates","description":"A task template is an object that allows new tasks to be created with a predefined setup, which may include followers, dependencies, custom fields, etc. It simplifies the process of running a workflow that involves a similar set of work every time.\nTask templates are contained within a single project."},{"name":"Tasks","description":"The task is the basic object around which many operations in Asana are centered. In the Asana application, multiple tasks populate the middle pane according to some view parameters, and the set of selected tasks determines the more detailed information presented in the details pane.\n\nSections are unique in that they will be included in the \u0060memberships\u0060 field of task objects returned in the API when the task is within a section. They can also be used to manipulate the ordering of a task within a project.\n\n[Queries](/reference/gettasks) return a [compact representation of each task object](/reference/tasks). To retrieve *all* fields or *specific set* of the fields, use [field selectors](/docs/inputoutput-options) to manipulate what data is included in a response."},{"name":"Team memberships","description":"This object determines if a user is a member of a team."},{"name":"Teams","description":"A team is used to group related projects and people together within an organization. Each project in an organization is associated with a team."},{"name":"Time periods","description":"A time period is an object that represents a domain-scoped date range that can be set on [goals](/reference/goals)."},{"name":"Time tracking categories","description":"A time tracking category is a label that can be assigned to time tracking entries to classify logged time. Categories are workspace-scoped and managed by admin users, allowing for more granular reporting and filtering of time entries (e.g., \u0027Development\u0027, \u0027Meetings\u0027)."},{"name":"Time tracking entries","description":"Asana\u0027s native time tracking feature allows you to estimate the time needed to complete a task, as well as record the actual time spent."},{"name":"Timesheet approval statuses","description":"A timesheet approval status represents the approval state for a user\u0027s timesheet for a date range. It tracks whether the timesheet is in draft, submitted, approved, or rejected status."},{"name":"Typeahead","description":"The typeahead search API provides search for objects from a single workspace."},{"name":"User task lists","description":"A user task list represents the tasks assigned to a particular user. This list is the user\u0027s [My Tasks](https://asana.com/guide/help/fundamentals/my-tasks) list."},{"name":"Users","description":"A user object represents an account in Asana that can be given access to various workspaces, projects, and tasks.\n\nLike other objects in the system, users are referred to by numerical IDs. However, the special string identifier \u0060me\u0060 can be used anywhere a user ID is accepted, to refer to the current authenticated user (e.g, \u0060GET /users/me\u0060)."},{"name":"Webhooks","description":"Webhooks allow you to subscribe to notifications about events that occur on Asana resources (e.g., tasks, projects, stories, etc.).\n\nFor a more detailed explanation of webhooks see the [overview of webhooks](/docs/webhooks-guide)."},{"name":"Workspace memberships","description":"This object determines if a user is a member of a workspace."},{"name":"Workspaces","description":"A *workspace* is the highest-level organizational unit in Asana. All projects and tasks have an associated workspace.\n\nAn *organization* is a special kind of workspace that represents a company. In an organization, you can group your projects into teams. You can read more about how organizations work on the Asana Guide. To tell if your workspace is an organization or not, check its \u0060is_organization\u0060 property.\n\nOver time, we intend to migrate most workspaces into organizations and to release more organization-specific functionality. We may eventually deprecate using workspace-based APIs for organizations. Currently, and until after some reasonable grace period following any further announcements, you can still reference organizations in any \u0060workspace\u0060 parameter."}],"components":{"parameters":{"limit":{"name":"limit","in":"query","description":"Results per page.\nThe number of objects to return per page. The value must be between 1 and 100.","example":50,"schema":{"type":"integer","minimum":1,"maximum":100}},"offset":{"name":"offset","in":"query","description":"Offset token.\nAn offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.\n*Note: You can only pass in an offset that was returned to you via a previously paginated request.*","example":"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9","schema":{"type":"string"}},"archived_query_param":{"name":"archived","in":"query","description":"Only return projects whose \u0060archived\u0060 field takes on the value of this parameter.","schema":{"type":"boolean"},"example":false},"access_request_gid":{"name":"access_request_gid","in":"path","description":"Globally unique identifier for the access request.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"access_request"},"agent_path_gid":{"name":"agent_gid","in":"path","description":"Globally unique identifier for the agent.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"agent"},"attachment_path_gid":{"name":"attachment_gid","in":"path","description":"Globally unique identifier for the attachment.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"attachment"},"budget_path_gid":{"name":"budget_gid","in":"path","description":"Globally unique identifier for the budget.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"budget"},"custom_field_path_gid":{"name":"custom_field_gid","in":"path","description":"Globally unique identifier for the custom field.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"custom_field"},"custom_id":{"name":"custom_id","in":"path","description":"Generated custom ID for a task.","required":true,"schema":{"type":"string"},"example":"EX-1"},"custom_type_gid":{"name":"custom_type_gid","in":"path","description":"Globally unique identifier for the custom type.","required":true,"schema":{"type":"string"},"example":"12345"},"goal_path_gid":{"name":"goal_gid","in":"path","description":"Globally unique identifier for the goal.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"goal"},"goal_relationship_path_gid":{"name":"goal_relationship_gid","in":"path","description":"Globally unique identifier for the goal relationship.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"goal_relationship"},"job_path_gid":{"name":"job_gid","in":"path","description":"Globally unique identifier for the job.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"job"},"membership_path_gid":{"name":"membership_gid","in":"path","description":"Globally unique identifier for the membership.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"membership"},"organization_export_path_gid":{"name":"organization_export_gid","in":"path","description":"Globally unique identifier for the organization export.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"organization_export"},"project_brief_path_gid":{"name":"project_brief_gid","in":"path","description":"Globally unique identifier for the project brief.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"project_brief"},"project_path_gid":{"name":"project_gid","in":"path","description":"Globally unique identifier for the project.","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"project"},"project_query_param":{"name":"project","in":"query","description":"Globally unique identifier for the project, which is used as a filter when retrieving all custom types.","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"project"},"project_template_path_gid":{"name":"project_template_gid","in":"path","description":"Globally unique identifier for the project template.","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"project_template"},"project_membership_path_gid":{"name":"project_membership_gid","in":"path","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"project_membership"},"project_portfolio_setting_path_gid":{"name":"project_portfolio_setting_gid","in":"path","description":"Globally unique identifier for the project portfolio setting.","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"project_portfolio_setting"},"project_status_path_gid":{"name":"project_status_gid","in":"path","required":true,"description":"The project status update to get.","schema":{"type":"string"},"example":"321654","x-env-variable":"project_status"},"rate_path_gid":{"name":"rate_gid","in":"path","description":"Globally unique identifier for the rate.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"rate"},"status_update_path_gid":{"name":"status_update_gid","in":"path","required":true,"description":"The status update to get.","schema":{"type":"string"},"example":"321654","x-env-variable":"status"},"portfolio_path_gid":{"name":"portfolio_gid","in":"path","description":"Globally unique identifier for the portfolio.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"portfolio"},"portfolio_membership_path_gid":{"name":"portfolio_membership_gid","in":"path","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"portfolio_membership"},"portfolio_query_param":{"name":"portfolio","in":"query","description":"The portfolio to filter results on.","schema":{"type":"string"},"example":"12345","x-env-variable":"portfolio"},"rule_trigger_path_gid":{"name":"rule_trigger_gid","in":"path","required":true,"description":"The ID of the incoming web request trigger. This value is a path parameter that is automatically generated for the API endpoint.","schema":{"type":"string"},"example":"12345","x-env-variable":"rule"},"section_path_gid":{"name":"section_gid","in":"path","required":true,"description":"The globally unique identifier for the section.","schema":{"type":"string"},"example":"321654","x-env-variable":"section"},"story_path_gid":{"name":"story_gid","in":"path","description":"Globally unique identifier for the story.","required":true,"schema":{"type":"string"},"example":"35678","x-env-variable":"story"},"target_query_param":{"name":"target","in":"query","description":"Globally unique identifier for the target object.","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"target"},"tag_path_gid":{"name":"tag_gid","in":"path","description":"Globally unique identifier for the tag.","required":true,"schema":{"type":"string"},"example":"11235","x-env-variable":"tag"},"task_path_gid":{"name":"task_gid","in":"path","required":true,"description":"The task to operate on.","schema":{"type":"string"},"example":"321654","x-env-variable":"task"},"task_template_path_gid":{"name":"task_template_gid","in":"path","description":"Globally unique identifier for the task template.","required":true,"schema":{"type":"string"},"example":"1331","x-env-variable":"task_template"},"team_path_gid":{"name":"team_gid","in":"path","description":"Globally unique identifier for the team.","required":true,"schema":{"type":"string"},"example":"159874","x-env-variable":"team"},"team_query_param":{"name":"team","in":"query","description":"The team to filter projects on.","schema":{"type":"string"},"example":"14916","x-env-variable":"team"},"team_membership_path_gid":{"name":"team_membership_gid","in":"path","required":true,"schema":{"type":"string"},"example":"724362","x-env-variable":"team_membership"},"time_period_path_gid":{"name":"time_period_gid","in":"path","description":"Globally unique identifier for the time period.","required":true,"schema":{"type":"string"},"example":"917392","x-env-variable":"time_period"},"time_tracking_category_path_gid":{"name":"time_tracking_category_gid","in":"path","description":"Globally unique identifier for the time tracking category.","required":true,"schema":{"type":"string"},"example":"917392","x-env-variable":"time_tracking_category"},"time_tracking_entry_path_gid":{"name":"time_tracking_entry_gid","in":"path","description":"Globally unique identifier for the time tracking entry.","required":true,"schema":{"type":"string"},"example":"917392","x-env-variable":"time_tracking_entry"},"timesheet_approval_status_path_gid":{"name":"timesheet_approval_status_gid","in":"path","description":"Globally unique identifier for the timesheet approval status.","required":true,"schema":{"type":"string"},"example":"917392","x-env-variable":"timesheet_approval_status"},"user_query_param":{"name":"user","in":"query","description":"A string identifying a user. This can either be the string \u0022me\u0022, an email, or the gid of a user.","schema":{"type":"string"},"x-env-variable":"user","example":"me"},"user_path_gid":{"name":"user_gid","in":"path","description":"A string identifying a user. This can either be the string \u0022me\u0022, an email, or the gid of a user.","required":true,"schema":{"type":"string"},"x-env-variable":"user","example":"me"},"user_task_list_path_gid":{"name":"user_task_list_gid","in":"path","description":"Globally unique identifier for the user task list.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"user_task_list"},"webhook_path_gid":{"name":"webhook_gid","in":"path","description":"Globally unique identifier for the webhook.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"webhook"},"workspace_path_gid":{"name":"workspace_gid","in":"path","description":"Globally unique identifier for the workspace or organization.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"workspace"},"workspace_query_param":{"name":"workspace","in":"query","description":"The workspace to filter results on.","schema":{"type":"string"},"example":"12345","x-env-variable":"workspace"},"workspace_membership_path_gid":{"name":"workspace_membership_gid","in":"path","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"workspace_membership"},"audit_log_start_at":{"name":"start_at","in":"query","description":"Filter to events created after this time (inclusive).","required":false,"schema":{"type":"string","format":"date-time"}},"audit_log_end_at":{"name":"end_at","in":"query","description":"Filter to events created before this time (exclusive).","required":false,"schema":{"type":"string","format":"date-time"}},"audit_log_event_type":{"name":"event_type","in":"query","description":"Filter to events of this type.\nRefer to the [supported audit log events](/docs/audit-log-events#supported-audit-log-events) for a full list of values.","required":false,"schema":{"type":"string"}},"audit_log_actor_type":{"name":"actor_type","in":"query","description":"Filter to events with an actor of this type.\nThis only needs to be included if querying for actor types without an ID. If \u0060actor_gid\u0060 is included, this should be excluded.","required":false,"schema":{"type":"string","enum":["user","asana","asana_support","anonymous","external_administrator"]}},"audit_log_actor_gid":{"name":"actor_gid","in":"query","description":"Filter to events triggered by the actor with this ID.","required":false,"schema":{"type":"string"}},"audit_log_resource_gid":{"name":"resource_gid","in":"query","description":"Filter to events with this resource ID.","required":false,"schema":{"type":"string"}},"completed_since":{"name":"completed_since","in":"query","required":false,"description":"Only return tasks that are either incomplete or that have been completed since this time. Accepts a date-time string or the keyword *now*.\n","schema":{"type":"string"},"example":"2012-02-22T02:06:58.158Z"},"member":{"name":"member","in":"query","required":false,"description":"Member object gid can be user or team.\n","schema":{"type":"string"},"example":"123"},"message_path_gid":{"name":"message_gid","in":"path","required":true,"description":"The message to get.","schema":{"type":"string"},"example":"321654","x-env-variable":"message"},"ooo_entry_path_gid":{"name":"ooo_entry_gid","in":"path","description":"Globally unique identifier for the OOO entry.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"ooo_entry"},"allocation_path_gid":{"name":"allocation_gid","in":"path","description":"Globally unique identifier for the allocation.","required":true,"schema":{"type":"string"},"example":"77688","x-env-variable":"allocation"},"role_path_gid":{"name":"role_gid","in":"path","description":"Globally unique identifier for the role.","required":true,"schema":{"type":"string"},"example":"12345","x-env-variable":"role"}},"responses":{"GenericErrorResponse":{"description":"Sadly, sometimes requests to the API are not successful. Failures can occur for a wide range of reasons. In all cases, the API should return an HTTP Status Code that indicates the nature of the failure, with a response body in JSON format containing additional information. In the event of a server error the response body will contain an error phrase. These phrases are automatically generated using the [node-asana-phrase library](https://github.com/Asana/node-asana-phrase) and can be used by Asana support to quickly look up the incident that caused the server error.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadRequest":{"description":"This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"Unauthorized":{"description":"A valid authentication token was not provided with the request, so the API could not associate a user with the request.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"PaymentRequired":{"description":"The request was valid, but the queried object or object mutation specified in the request is above your current premium level.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"Forbidden":{"description":"The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"NotFound":{"description":"Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"TooManyRequests":{"description":"You have exceeded one of the enforced rate limits in the API. See the [documentation on rate limiting](https://developers.asana.com/docs/#rate-limits) for more information.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"InternalServerError":{"description":"There was a problem on Asana\u2019s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"BadGateway":{"description":"There is an issue between the load balancers and Asana\u0027s API.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"ServiceUnavailable":{"description":"Either the upstream service is unavailable to the API, or the API has been intentionally shut off.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"GatewayTimeout":{"description":"This request took too long to complete.","content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"AccessRequestResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AccessRequestResponseArray"}}}},"AccessRequestResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AccessRequestResponseData"}}}},"EmptyResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/EmptyResponseData"}}}},"AllocationResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AllocationResponseData"}}}},"AllocationResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AllocationResponseArray"}}}},"AttachmentResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AttachmentResponseData"}}}},"AttachmentResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AttachmentResponseArray"}}}},"AuditLogEventArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AuditLogEventArray"}}}},"BatchResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BatchResponseArray"}}}},"BudgetResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BudgetResponseArray"}}}},"BudgetResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/BudgetResponseData"}}}},"CustomFieldSettingResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CustomFieldSettingResponseArray"}}}},"CustomFieldResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CustomFieldResponseData"}}}},"CustomFieldResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CustomFieldResponseArray"}}}},"EnumOptionData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/EnumOptionData"}}}},"CustomTypeResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CustomTypeResponseArray"}}}},"CustomTypeResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CustomTypeResponseData"}}}},"EventResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/EventResponseArray"}}}},"GraphExportResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GraphExportResponseData"}}}},"ResourceExportResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ResourceExportResponseData"}}}},"GoalRelationshipResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GoalRelationshipResponseData"}}}},"GoalRelationshipResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GoalRelationshipResponseArray"}}}},"GoalResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GoalResponseData"}}}},"GoalResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/GoalResponseArray"}}}},"CustomFieldSettingResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/CustomFieldSettingResponseData"}}}},"JobResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/JobResponseData"}}}},"MembershipResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MembershipResponseArray"}}}},"MembershipResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/MembershipResponseData"}}}},"OooEntryResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OooEntryResponseData"}}}},"OooEntryResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OooEntryResponseArray"}}}},"OrganizationExportResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/OrganizationExportResponseData"}}}},"DeprecatedPortfolioMembershipResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DeprecatedPortfolioMembershipResponseArray"}}}},"DeprecatedPortfolioMembershipResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/DeprecatedPortfolioMembershipResponseData"}}}},"PortfolioResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PortfolioResponseArray"}}}},"PortfolioResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/PortfolioResponseData"}}}},"ProjectResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectResponseArray"}}}},"ProjectBriefResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectBriefResponseData"}}}},"ProjectMembershipNormalResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectMembershipNormalResponseData"}}}},"ProjectMembershipCompactArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectMembershipCompactArray"}}}},"ProjectPortfolioSettingResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectPortfolioSettingResponseData"}}}},"ProjectPortfolioSettingResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectPortfolioSettingResponseArray"}}}},"ProjectStatusResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectStatusResponseData"}}}},"ProjectStatusResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectStatusResponseArray"}}}},"ProjectTemplateResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectTemplateResponseData"}}}},"ProjectTemplateResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectTemplateResponseArray"}}}},"ProjectResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ProjectResponseData"}}}},"TaskCountResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TaskCountResponseData"}}}},"RateOrPlaceholderCompactArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/RateOrPlaceholderCompactArray"}}}},"RateResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/RateResponseData"}}}},"ReactionCompactArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/ReactionCompactArray"}}}},"RbacRoleResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/RbacRoleResponseArray"}}}},"RbacRoleResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/RbacRoleResponseData"}}}},"RuleTriggerResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/RuleTriggerResponseData"}}}},"SectionResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SectionResponseData"}}}},"SectionResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/SectionResponseArray"}}}},"StatusUpdateResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusUpdateResponseData"}}}},"StatusUpdateResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StatusUpdateResponseArray"}}}},"StoryResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StoryResponseData"}}}},"StoryResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/StoryResponseArray"}}}},"TagResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TagResponseArray"}}}},"TagResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TagResponseData"}}}},"TaskTemplateResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TaskTemplateResponseArray"}}}},"TaskTemplateResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TaskTemplateResponseData"}}}},"TaskResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TaskResponseArray"}}}},"TaskResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TaskResponseData"}}}},"TeamMembershipResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TeamMembershipResponseData"}}}},"TeamMembershipResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TeamMembershipResponseArray"}}}},"TeamResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TeamResponseData"}}}},"TeamResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TeamResponseArray"}}}},"TimePeriodResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimePeriodResponseData"}}}},"TimePeriodResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimePeriodResponseArray"}}}},"TimeTrackingCategoryResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimeTrackingCategoryResponseData"}}}},"TimeTrackingEntryCompactArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimeTrackingEntryCompactArray"}}}},"TimeTrackingCategoryResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimeTrackingCategoryResponseArray"}}}},"TimeTrackingEntryBaseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimeTrackingEntryBaseData"}}}},"TimesheetApprovalStatusResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimesheetApprovalStatusResponseData"}}}},"TimesheetApprovalStatusResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/TimesheetApprovalStatusResponseArray"}}}},"AsanaNamedResourceArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/AsanaNamedResourceArray"}}}},"UserTaskListResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UserTaskListResponseData"}}}},"UserResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UserResponseArray"}}}},"UserResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UserResponseData"}}}},"WebhookResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/WebhookResponseArray"}}}},"WebhookResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/WebhookResponseData"}}}},"WorkspaceMembershipResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/WorkspaceMembershipResponseData"}}}},"WorkspaceMembershipResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/WorkspaceMembershipResponseArray"}}}},"WorkspaceResponseArray":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/WorkspaceResponseArray"}}}},"WorkspaceResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/WorkspaceResponseData"}}}},"UserBaseResponseData":{"content":{"application/json; charset=UTF-8":{"schema":{"$ref":"#/components/schemas/UserBaseResponseData"}}}}},"schemas":{"AllocationBase":{"description":"A generic Asana Resource, containing a globally unique identifier.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"start_date":{"type":"string","format":"date","description":"The localized day on which the allocation starts.","example":"2024-02-28"},"end_date":{"type":"string","format":"date","description":"The localized day on which the allocation ends.","example":"2024-02-28"},"effort":{"type":"object","nullable":true,"description":"The amount of time associated with the allocation, represented as a percentage or number of hours.","properties":{"type":{"type":"string","description":"The units used for tracking effort on an allocation, either \u0022hours\u0022 or \u0022percent\u0022.","enum":["hours","percent"]},"value":{"type":"number","description":"The numeric effort value on the allocation.","example":50}}}},"x-docs-overrides":{"properties.resource_type.example":"allocation"}},"AllocationResponse":{"description":"A generic Asana Resource, containing a globally unique identifier.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"start_date":{"type":"string","format":"date","description":"The localized day on which the allocation starts.","example":"2024-02-28"},"end_date":{"type":"string","format":"date","description":"The localized day on which the allocation ends.","example":"2024-02-28"},"effort":{"type":"object","nullable":true,"description":"The amount of time associated with the allocation, represented as a percentage or number of hours.","properties":{"type":{"type":"string","description":"The units used for tracking effort on an allocation, either \u0022hours\u0022 or \u0022percent\u0022.","enum":["hours","percent"]},"value":{"type":"number","description":"The numeric effort value on the allocation.","example":50}}},"assignee":{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nA *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nA *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.\nThe user or placeholder assigned to the allocation.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"type":"string","description":"The name of allocation resource.","example":"Greg Sanchez"}},"x-docs-overrides":{"properties.resource_type.example":"user"}},"created_by":{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nA *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"type":"string","description":"*Read-only except when same user as requester*. The user\u0027s name.","example":"Greg Sanchez"}},"x-docs-overrides":{"properties.resource_type.example":"user"}},"parent":{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nA *project* represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. It exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"description":"Name of the project. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.","type":"string","example":"Stuff to buy"}},"x-docs-overrides":{"properties.resource_type.example":"project"}},"resource_subtype":{"description":"The subtype of the allocation.","type":"string","example":"project_allocation"}},"x-docs-overrides":{"properties.resource_type.example":"allocation"}},"AllocationRequest":{"description":"A generic Asana Resource, containing a globally unique identifier.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"start_date":{"type":"string","format":"date","description":"The localized day on which the allocation starts.","example":"2024-02-28"},"end_date":{"type":"string","format":"date","description":"The localized day on which the allocation ends.","example":"2024-02-28"},"effort":{"type":"object","nullable":true,"description":"The amount of time associated with the allocation, represented as a percentage or number of hours.","properties":{"type":{"type":"string","description":"The units used for tracking effort on an allocation, either \u0022hours\u0022 or \u0022percent\u0022.","enum":["hours","percent"]},"value":{"type":"number","description":"The numeric effort value on the allocation.","example":50}}},"assignee":{"type":"string","description":"Globally unique identifier for the user or placeholder assigned to the allocation."},"parent":{"type":"string","description":"Globally unique identifier for the project the allocation is on."}},"x-docs-overrides":{"properties.resource_type.example":"allocation"}},"AddCustomFieldSettingRequest":{"type":"object","required":["custom_field"],"properties":{"custom_field":{"oneOf":[{"type":"string","description":"The custom field to associate with this container.","example":"14916"},{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nCustom Fields store the metadata that is used in order to add user-specified information to tasks in Asana. Be sure to reference the [custom fields](/reference/custom-fields) developer documentation for more information about how custom fields relate to various resources in Asana.\n\nUsers in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields), which will make them read-only when accessed by other users. Attempting to edit a locked custom field will return HTTP error code \u0060403 Forbidden\u0060.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"description":"The name of the custom field.","type":"string","example":"Status"},"type":{"description":"*Deprecated: new integrations should prefer the resource_subtype field.* The type of the custom field. Must be one of the given values.\n","type":"string","readOnly":true,"enum":["text","enum","multi_enum","number","date","people"]},"enum_options":{"description":"*Conditional*. Only relevant for custom fields of type \u0060enum\u0060 or \u0060multi_enum\u0060. This array specifies the possible values which an \u0060enum\u0060 custom field can adopt. To modify the enum options, refer to [working with enum options](/reference/createenumoptionforcustomfield).","type":"array","items":{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nEnum options are the possible values which an enum custom field can adopt. An enum custom field must contain at least 1 enum option but no more than 500.\n\nYou can add enum options to a custom field by using the \u0060POST /custom_fields/custom_field_gid/enum_options\u0060 endpoint.\n\n**It is not possible to remove or delete an enum option**. Instead, enum options can be disabled by updating the \u0060enabled\u0060 field to false with the \u0060PUT /enum_options/enum_option_gid\u0060 endpoint. Other attributes can be updated similarly.\n\nOn creation of an enum option, \u0060enabled\u0060 is always set to \u0060true\u0060, meaning the enum option is a selectable value for the custom field. Setting \u0060enabled=false\u0060 is equivalent to \u201Ctrashing\u201D the enum option in the Asana web app within the \u201CEdit Fields\u201D dialog. The enum option will no longer be selectable but, if the enum option value was previously set within a task, the task will retain the value.\n\nEnum options are an ordered list and by default new enum options are inserted at the end. Ordering in relation to existing enum options can be specified on creation by using \u0060insert_before\u0060 or \u0060insert_after\u0060 to reference an existing enum option. Only one of \u0060insert_before\u0060 and \u0060insert_after\u0060 can be provided when creating a new enum option.\n\nAn enum options list can be reordered with the \u0060POST /custom_fields/custom_field_gid/enum_options/insert\u0060 endpoint.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"description":"The name of the enum option.","type":"string","example":"Low"},"enabled":{"description":"Whether or not the enum option is a selectable value for the custom field.","type":"boolean","example":true},"color":{"description":"The color of the enum option. Defaults to \u0060none\u0060.","type":"string","example":"blue"}},"x-docs-overrides":{"properties.resource_type.example":"enum_option"}}},"enabled":{"description":"*Conditional*. This field applies only to [custom field values](/docs/custom-fields-guide#/accessing-custom-field-values-on-tasks-or-projects) and is not available for [custom field definitions](/docs/custom-fields-guide#/accessing-custom-field-definitions).\nDetermines if the custom field is enabled or not. For more details, see the [Custom Fields documentation](/docs/custom-fields-guide#/enabled-and-disabled-values).","type":"boolean","readOnly":true,"example":true},"representation_type":{"description":"This field tells the type of the custom field.","type":"string","example":"number","readOnly":true,"enum":["text","enum","multi_enum","number","date","people","formula","custom_id"]},"id_prefix":{"description":"This field is the unique custom ID string for the custom field.","type":"string","nullable":true,"example":"ID"},"input_restrictions":{"description":"*Conditional*. Only relevant for custom fields of type \u0060reference\u0060. This array of strings reflects the allowed types of objects that can be written to a \u0060reference\u0060 custom field value.","type":"array","items":{"type":"string"},"example":"task"},"is_formula_field":{"description":"*Conditional*. This flag describes whether a custom field is a formula custom field.","type":"boolean","example":false},"date_value":{"description":"*Conditional*. Only relevant for custom fields of type \u0060date\u0060. This object reflects the chosen date (and optionally, time) value of a \u0060date\u0060 custom field. If no date is selected, the value of \u0060date_value\u0060 will be \u0060null\u0060.","type":"object","nullable":true,"properties":{"date":{"type":"string","description":"A string representing the date in YYYY-MM-DD format.","example":"2024-08-23"},"date_time":{"type":"string","description":"A string representing the date in ISO 8601 format. If no time value is selected, the value of \u0060date-time\u0060 will be \u0060null\u0060.","example":"2024-08-23T22:00:00.000Z"}}},"enum_value":{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nEnum options are the possible values which an enum custom field can adopt. An enum custom field must contain at least 1 enum option but no more than 500.\n\nYou can add enum options to a custom field by using the \u0060POST /custom_fields/custom_field_gid/enum_options\u0060 endpoint.\n\n**It is not possible to remove or delete an enum option**. Instead, enum options can be disabled by updating the \u0060enabled\u0060 field to false with the \u0060PUT /enum_options/enum_option_gid\u0060 endpoint. Other attributes can be updated similarly.\n\nOn creation of an enum option, \u0060enabled\u0060 is always set to \u0060true\u0060, meaning the enum option is a selectable value for the custom field. Setting \u0060enabled=false\u0060 is equivalent to \u201Ctrashing\u201D the enum option in the Asana web app within the \u201CEdit Fields\u201D dialog. The enum option will no longer be selectable but, if the enum option value was previously set within a task, the task will retain the value.\n\nEnum options are an ordered list and by default new enum options are inserted at the end. Ordering in relation to existing enum options can be specified on creation by using \u0060insert_before\u0060 or \u0060insert_after\u0060 to reference an existing enum option. Only one of \u0060insert_before\u0060 and \u0060insert_after\u0060 can be provided when creating a new enum option.\n\nAn enum options list can be reordered with the \u0060POST /custom_fields/custom_field_gid/enum_options/insert\u0060 endpoint.A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nEnum options are the possible values which an enum custom field can adopt. An enum custom field must contain at least 1 enum option but no more than 500.\n\nYou can add enum options to a custom field by using the \u0060POST /custom_fields/custom_field_gid/enum_options\u0060 endpoint.\n\n**It is not possible to remove or delete an enum option**. Instead, enum options can be disabled by updating the \u0060enabled\u0060 field to false with the \u0060PUT /enum_options/enum_option_gid\u0060 endpoint. Other attributes can be updated similarly.\n\nOn creation of an enum option, \u0060enabled\u0060 is always set to \u0060true\u0060, meaning the enum option is a selectable value for the custom field. Setting \u0060enabled=false\u0060 is equivalent to \u201Ctrashing\u201D the enum option in the Asana web app within the \u201CEdit Fields\u201D dialog. The enum option will no longer be selectable but, if the enum option value was previously set within a task, the task will retain the value.\n\nEnum options are an ordered list and by default new enum options are inserted at the end. Ordering in relation to existing enum options can be specified on creation by using \u0060insert_before\u0060 or \u0060insert_after\u0060 to reference an existing enum option. Only one of \u0060insert_before\u0060 and \u0060insert_after\u0060 can be provided when creating a new enum option.\n\nAn enum options list can be reordered with the \u0060POST /custom_fields/custom_field_gid/enum_options/insert\u0060 endpoint.\n*Conditional*. Only relevant for custom fields of type \u0060enum\u0060. This object is the chosen value of an \u0060enum\u0060 custom field.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"description":"The name of the enum option.","type":"string","example":"Low"},"enabled":{"description":"Whether or not the enum option is a selectable value for the custom field.","type":"boolean","example":true},"color":{"description":"The color of the enum option. Defaults to \u0060none\u0060.","type":"string","example":"blue"}},"x-docs-overrides":{"properties.resource_type.example":"enum_option"},"nullable":true},"multi_enum_values":{"description":"*Conditional*. Only relevant for custom fields of type \u0060multi_enum\u0060. This object is the chosen values of a \u0060multi_enum\u0060 custom field.","type":"array","items":{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nEnum options are the possible values which an enum custom field can adopt. An enum custom field must contain at least 1 enum option but no more than 500.\n\nYou can add enum options to a custom field by using the \u0060POST /custom_fields/custom_field_gid/enum_options\u0060 endpoint.\n\n**It is not possible to remove or delete an enum option**. Instead, enum options can be disabled by updating the \u0060enabled\u0060 field to false with the \u0060PUT /enum_options/enum_option_gid\u0060 endpoint. Other attributes can be updated similarly.\n\nOn creation of an enum option, \u0060enabled\u0060 is always set to \u0060true\u0060, meaning the enum option is a selectable value for the custom field. Setting \u0060enabled=false\u0060 is equivalent to \u201Ctrashing\u201D the enum option in the Asana web app within the \u201CEdit Fields\u201D dialog. The enum option will no longer be selectable but, if the enum option value was previously set within a task, the task will retain the value.\n\nEnum options are an ordered list and by default new enum options are inserted at the end. Ordering in relation to existing enum options can be specified on creation by using \u0060insert_before\u0060 or \u0060insert_after\u0060 to reference an existing enum option. Only one of \u0060insert_before\u0060 and \u0060insert_after\u0060 can be provided when creating a new enum option.\n\nAn enum options list can be reordered with the \u0060POST /custom_fields/custom_field_gid/enum_options/insert\u0060 endpoint.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"description":"The name of the enum option.","type":"string","example":"Low"},"enabled":{"description":"Whether or not the enum option is a selectable value for the custom field.","type":"boolean","example":true},"color":{"description":"The color of the enum option. Defaults to \u0060none\u0060.","type":"string","example":"blue"}},"x-docs-overrides":{"properties.resource_type.example":"enum_option"}}},"number_value":{"description":"*Conditional*. This number is the value of a \u0060number\u0060 custom field.","type":"number","nullable":true,"example":5.2},"text_value":{"description":"*Conditional*. This string is the value of a \u0060text\u0060 custom field.","type":"string","nullable":true,"example":"Some Value"},"display_value":{"description":"A string representation for the value of the custom field. Integrations that don\u0027t require the underlying type should use this field to read values. Using this field will future-proof an app against new custom field types.","type":"string","readOnly":true,"example":"blue","nullable":true},"description":{"description":"[Opt In](/docs/inputoutput-options). The description of the custom field.","type":"string","example":"Development team priority"},"precision":{"description":"Only relevant for custom fields of type \u0060Number\u0060. This field dictates the number of places after the decimal to round to, i.e. 0 is integer values, 1 rounds to the nearest tenth, and so on. Must be between 0 and 6, inclusive.\nFor percentage format, this may be unintuitive, as a value of 0.25 has a precision of 0, while a value of 0.251 has a precision of 1. This is due to 0.25 being displayed as 25%.\nThe identifier format will always have a precision of 0.","type":"integer","example":2},"format":{"description":"The format of this custom field.","type":"string","enum":["currency","identifier","percentage","custom","duration","none"],"example":"custom"},"currency_code":{"description":"ISO 4217 currency code to format this custom field. This will be null if the \u0060format\u0060 is not \u0060currency\u0060.","type":"string","nullable":true,"example":"EUR"},"custom_label":{"description":"This is the string that appears next to the custom field value. This will be null if the \u0060format\u0060 is not \u0060custom\u0060.","type":"string","nullable":true,"example":"gold pieces"},"custom_label_position":{"description":"Only relevant for custom fields with \u0060custom\u0060 format. This depicts where to place the custom label. This will be null if the \u0060format\u0060 is not \u0060custom\u0060.","type":"string","nullable":true,"enum":["prefix","suffix",null],"example":"suffix"},"is_global_to_workspace":{"description":"This flag describes whether this custom field is available to every container in the workspace. Before project-specific custom fields, this field was always true.","type":"boolean","example":true,"readOnly":true},"has_notifications_enabled":{"description":"*Conditional*. This flag describes whether a follower of a task with this field should receive inbox notifications from changes to this field.","type":"boolean","example":true},"asana_created_field":{"description":"*Conditional*. A unique identifier to associate this field with the template source of truth.","type":"string","readOnly":true,"nullable":true,"enum":["a_v_requirements","account_name","actionable","align_shipping_link","align_status","allotted_time","appointment","approval_stage","approved","article_series","board_committee","browser","campaign_audience","campaign_project_status","campaign_regions","channel_primary","client_topic_type","complete_by","contact","contact_email_address","content_channels","content_channels_needed","content_stage","content_type","contract","contract_status","cost","creation_stage","creative_channel","creative_needed","creative_needs","data_sensitivity","deal_size","delivery_appt","delivery_appt_date","department","department_responsible","design_request_needed","design_request_type","discussion_category","do_this_task","editorial_content_status","editorial_content_tag","editorial_content_type","effort","effort_level","est_completion_date","estimated_time","estimated_value","expected_cost","external_steps_needed","favorite_idea","feedback_type","financial","funding_amount","grant_application_process","hiring_candidate_status","idea_status","ids_link","ids_patient_link","implementation_stage","insurance","interview_area","interview_question_score","itero_scan_link","job_s_applied_to","lab","launch_status","lead_status","localization_language","localization_market_team","localization_status","meeting_minutes","meeting_needed","minutes","mrr","must_localize","name_of_foundation","need_to_follow_up","next_appointment","next_steps_sales","num_people","number_of_user_reports","office_location","onboarding_activity","owner","participants_needed","patient_date_of_birth","patient_email","patient_phone","patient_status","phone_number","planning_category","point_of_contact","position","post_format","prescription","priority","priority_level","product","product_stage","progress","project_size","project_status","proposed_budget","publish_status","reason_for_scan","referral","request_type","research_status","responsible_department","responsible_team","risk_assessment_status","room_name","sales_counterpart","sentiment","shipping_link","social_channels","stage","status","status_design","status_of_initiative","system_setup","task_progress","team","team_marketing","team_responsible","time_it_takes_to_complete_tasks","timeframe","treatment_type","type_work_requests_it","use_agency","user_name","vendor_category","vendor_type","word_count",null],"example":"priority"},"workspace":{"type":"string","description":"*Create-Only* The workspace to create a custom field in.","example":"1331"},"owned_by_app":{"type":"boolean","description":"*Allow-listed*. Instructs the API that this Custom Field is app-owned. This parameter is allow-listed to specific apps at this point in time. For apps that are not allow-listed, providing this parameter will result in a \u0060403 Forbidden\u0060."},"people_value":{"description":"*Conditional*. Only relevant for custom fields of type \u0060people\u0060. This array of user GIDs, emails, or the string \u0022me\u0022, reflects the users to be written to a \u0060people\u0060 custom field. Note that *write* operations will replace existing users (if any) in the custom field with the users specified in this array.","type":"array","items":{"type":"string","description":"A string identifying a user. This can either be the string \u0022me\u0022, an email, or the gid of a user."},"example":["12345"]},"reference_value":{"description":"*Conditional*. Only relevant for custom fields of type \u0060reference\u0060. This array of GIDs reflects the objects to be written to a \u0060reference\u0060 custom field. Note that *write* operations will replace existing objects (if any) in the custom field with the objects specified in this array.","type":"array","items":{"type":"string","description":"The GID of an object."},"example":["12345"]},"resource_subtype":{"description":"The type of the custom field. Must be one of the given values.","type":"string","example":"text","enum":["text","enum","multi_enum","number","date","people","reference"]}},"x-docs-overrides":{"properties.resource_type.example":"custom_field"},"required":["workspace","resource_subtype"]}]},"is_important":{"description":"Whether this field should be considered important to this container (for instance, to display in the list view of items in the container).","type":"boolean","example":true},"insert_before":{"description":"A gid of a Custom Field Setting on this container, before which the new Custom Field Setting will be added.  \u0060insert_before\u0060 and \u0060insert_after\u0060 parameters cannot both be specified.","type":"string","example":"1331"},"insert_after":{"description":"A gid of a Custom Field Setting on this container, after which the new Custom Field Setting will be added.  \u0060insert_before\u0060 and \u0060insert_after\u0060 parameters cannot both be specified.","type":"string","example":"1331"}}},"AddFollowersRequest":{"type":"object","required":["followers"],"properties":{"followers":{"description":"An array of strings identifying users. These can either be the string \u0022me\u0022, an email, or the gid of a user.","type":"string","example":"521621,621373"}}},"AddMembersRequest":{"type":"object","required":["members"],"properties":{"members":{"description":"An array of strings identifying users. These can either be the string \u0022me\u0022, an email, or the gid of a user.","type":"string","example":"521621,621373"}}},"AsanaNamedResource":{"description":"A generic Asana Resource, containing a globally unique identifier.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"},"name":{"description":"The name of the object.","type":"string","example":"Bug Task"}}},"AsanaResource":{"description":"A generic Asana Resource, containing a globally unique identifier.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example":"12345","x-insert-after":false},"resource_type":{"description":"The base type of this resource.","type":"string","readOnly":true,"example":"task","x-insert-after":"gid"}}},"AttachmentBase":{"description":"A generic Asana Resource, containing a globally unique identifier.A generic Asana Resource, containing a globally unique identifier.\nAn *attachment* object represents any file attached to a task in Asana, whether it\u0027s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive.","type":"object","properties":{"gid":{"description":"Globally unique identifier of the resource, as a string.","type":"string","readOnly":true,"example"
[...]
